<div class="appname">
  <span>
    <span class="brand">Company</span>
    Application
  </span>
</div>
<div class="account">
  <a data-name="link" href="{{url 'home#index'}}">
    Home
  </a>
  <a data-name="logout" href="{{url 'home#index'}}">
    Sign out
    <i class='icon-signout'></i>
  </a>
</div>
