<div class="header-container" id="header-container"></div>

<div class="outer-page-container" id="main">
  <main class="page-container" id="page-container"></main>
</div>

<div class="footer-container" id="footer-container"></div>
